body {
    width: 95%;
    margin: auto;
}

#banner {
    background-image: url("images/header.jpg");
    background-size: cover;
    color: white;
    padding-bottom: 50px;
    font-size: 1.5em;
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    background-color:#444444;
}

nav a {
    color: mediumspringgreen;
    text-decoration: none;
    font-size: 1.2em;
    padding: 10px;
}

article {
    background-color: lightgray;
}

h2 {
    text-decoration: underline;
    padding-bottom: 30px;
    padding-top: 40px;
    margin: 5px;
    font-size: 2em;
}

footer {
    padding-top: 20px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

