body {
    font-size: 1.25em;
}

article {
    border: 1px solid #000;
    margin: 10px;
    background: azure;
}

article p img {
    margin: 0 10px 10px 10px;
}

article p {
    display: inline-block;
    margin: 0;
}

article:nth-child(even) p img {
    float: right;
}

article:nth-child(odd) p img {
    float: left;
}
