a {
    background-image: url("images/wait-wait-wait-wait-wait-hold-the-fuck-up-a-second-v0-q5ywcul173mf1.webp");
    background-size: 30px;
    background-repeat: no-repeat;
    background-position-y: 7px;
    padding-left: 35px;

}